<div class="page">

  <div class="card">

    <h1>Bentornato</h1>
    <p class="subtitle">Accedi alla tua area riservata Prospettiva</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <!-- EMAIL -->
      <label>Email address</label>
      <div class="input-box" [class.invalid]="isInvalid('username')">
        <span class="icon"><i class="bi bi-envelope"></i></span>
        <input type="email" formControlName="username" placeholder="nome@azienda.it">
      </div>
      <div class="field-err" *ngIf="isInvalid('username')">{{ fieldError('username') }}</div>

      <!-- PASSWORD -->
      <label>Password</label>
      <div class="input-box" [class.invalid]="isInvalid('password')">
        <span class="icon"><i class="bi bi-lock"></i></span>
        <input type="password" formControlName="password" placeholder="••••••••">
      </div>
      <div class="field-err" *ngIf="isInvalid('password')">{{ fieldError('password') }}</div>

      

      <!-- BUTTON -->
      <button type="submit" [disabled]="loading">
        <span *ngIf="!loading">Accedi →</span>
        <span *ngIf="loading">Caricamento...</span>
      </button>

    </form>

    <div class="footer">
      Non hai un account?
      <a [routerLink]="['/register']">Registrati</a>
    </div>

  </div>

</div>